body
{
    margin: 0;
    padding: 0;
}

h1
{
    color: rgb(27, 221, 27);
    background-color: azure;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.conteudo
{
    font-size: 20px;
    margin: 10px;
    padding: 10px;
}

.subitiltulo
{
    font-size: 30px;
    color: azure;
    font-weight: bold;
    text-decoration: underline;
}

.exemplo1
{
    border: 1px solid rgb(27, 221, 27);
    border-radius: 10px;
    margin: 10px;
    padding: 10;
}

.centralizado
{
    display: flex;
    justify-content: center;
}